[submodule "dist/ace-builds"]
	path = dist/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "dist/moment-sdk"]
	path = dist/moment-sdk
	url = https://github.com/SomaticLabs/moment-sdk.git
